<!-- index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EJS Engine</title>
  </head>
  <body>
    <div class="jumbotron">
      Node JS Express Tutorial
    </div>
  </body>
</html>
